# Ignore node_modules in the root
/node_modules

# Ignore all package-lock.json files
**/package-lock.json

# Ignore all yarn.lock files
**/yarn.lock

# Ignore all .env files (environment variables)
**/.env

# Ignore all logs
**/logs

# Ignore all build output directories
**/build
**/dist

# Ignore all coverage reports
**/coverage

# Ignore all temporary files
**/*.tmp
**/*.temp

# Ignore all editor-specific files
.vscode/
.idea/
*.sublime-*

# Ignore all dependency directories in packages
/packages/*/node_modules

# Ignore specific files or directories in packages
/packages/*/specific-file.txt
/packages/*/specific-directory/

# Ignore private configuration files in packages
/packages/*/config/private-config.json
